/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[3]!./styles/mdx.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
:root {
  --shiki-color-text: #414141;
  --shiki-color-background: transparent;
  --shiki-token-constant: #1976d2;
  --shiki-token-string: #22863a;
  --shiki-token-comment: #aaa;
  --shiki-token-keyword: #d32f2f;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #6f42c1;
  --shiki-token-string-expression: #22863a;
  --shiki-token-punctuation: #212121;
  --shiki-token-link: #22863a;
}

[data-rehype-pretty-code-fragment] {
  position: relative;
}
[data-rehype-pretty-code-fragment] code {
  display: grid;
  min-width: 100%;
  overflow-wrap: break-word;
  border-radius: 0px;
  border-width: 0px;
  background-color: transparent;
  padding: 0px;
}
[data-theme="dark"] [data-rehype-pretty-code-fragment] code {
  background-color: transparent;
}
[data-rehype-pretty-code-fragment] code {
  counter-reset: line;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}
[data-rehype-pretty-code-fragment] .line {
  min-height: 0.85rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] .line {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}
[data-rehype-pretty-code-fragment] .line--highlighted {
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.1;
}
[data-rehype-pretty-code-fragment] .line-highlighted span {
  position: relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
  border-radius: 0.375rem;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.1;
  padding: 0.25rem;
}
[data-rehype-pretty-code-title] {
  margin-top: 1.5rem;
  display: inline-block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}
[data-theme="dark"] [data-rehype-pretty-code-title] {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}
[data-rehype-pretty-code-title] + pre {
  margin-top: 0.5rem;
}

